<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Fireball</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- Add fullscreen option to leaflet map-->
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-default">
          <div class="container">  
          <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <!-- <span class="icon-bar"></span> -->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">HOME        
                <!-- <img class="nav-ufo" src="../static/images/fireball.png"> -->
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#">HOW</a></li> -->
                <li><a href="{{ url_for('get_all_fireballs') }}" target="_blank">API DATA</a></li>
                <li><a href="https://earthsky.org/space/meteor-asteroid-chelyabinsk-russia-feb-15-2013" target="_blank">FUN FACT</a></li>
                </ul>
            </div>
          </div>
        </div>
        </nav>
        <div class="hero text-center">
          <h1>Fireballs</h1>
          <p>What are they?</p>
        </div>
        <div class="api text-center">
            <!-- <p><a href="{{ url_for('get_all_fireballs') }}" target="_blank">Check out this fireball api!</a></p> -->
            <p>A meteoroid is generally defined as an asteroid or comet fragment that orbits the Sun and has an approximate size between ten microns and a meter 
                or so. Meteors, or “shooting stars,” are the visible paths of meteoroids that have entered the Earth’s atmosphere at high velocities.
                A fireball is an unusually bright meteor that reaches a visual magnitude of -3 or brighter when seen at the observer’s zenith.
                Objects causing fireball events can exceed one meter in size. Fireballs that explode in the atmosphere are technically referred to as bolides 
                although the terms fireballs and bolides are often used interchangeably.</p>
        </div>
        
        <div class="container-fluid">
            <div class="row margin-top-10">
                <div class="col-md-6 col-sm-12 margin-top-10">
                    <div class="col-md-12" id="map">
                        <p>Hello
                    </div>
                </div>
            
                <div class="col-md-6 col-sm-12 margin-top-10">
                    <div class="col-md-12" id="scatter">
                        <p>Hello again
                    </div>
                </div>
            </div>
            <div class="row margin-top-10">
                <div class="col-md-6 col-sm-12 margin-top-10">
                    <div class="col-md-12" id="map">
                        <p>Hello</p>
                    </div>
            </div>
        </div>        
        <footer class="footer">
                <span class="bottom">Thank you for visiting!</span>
              </footer>
  <!-- API key -->
  <script type="text/javascript" src="../static/js/config.js"></script>
  <!-- Our JS -->
  <script type="text/javascript" src="../static/js/logic.js"></script>
  <script type="text/javascript" src="../static/js/logic1.js"></script>
  
</body>
</html>